<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header class="site-header">
            <span><strong>Digital Patient Journal</strong></span>
        @if (Context.Session.GetString("Username") != null)
            {
                <span class="username">@Context.Session.GetString("Username")</span>
                <form asp-controller="Account" asp-action="Logout" method="post" class="logout-form">
                    <button type="submit" class="logout-button">Log out</button>
                </form>
            }

        </header>
        <main class="site-content">
            @RenderBody()
        </main>
    </body>
</html>